# Ignore build artifacts and executables
*.exe
*.pkg
*.token


build/

# Ignore build directories
/build/
/dist/
/__pycache__/
/.vscode/
/src/pythra.egg-info
/src/pythra/pythra.egg-info
/.pytest_cache
/config.yaml