# Ignore build artifacts and executables
*.exe
*.pkg
*.token
*.pyc


build/

# Ignore build directories
/build/
/dist/
/__pycache__/
/.vscode/
/src/pythra.egg-info
/src/pythra/pythra/pythra.egg-info
/.pytest_cache
# /config.yaml
/venv
/new-app
*__pycache__
src/pythra/pythra.egg-info/PKG-INFO
src/pythra/pythra/__pycache__/core.cpython-312.pyc
src/pythra/pythra/__pycache__/__init__.cpython-312.pyc

# Documentation planning
tobedoc.md
